* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--blue)
}

header {
  background-image: url(../assets/images/Background_Intro.png);
  font: var(--font-family);
  color: #E2E4E9;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  font-family: 'Asap', 'Inconsolota', 'Maven Pro', sans-serif;
}

h3 {
  font-family: "Inconsolata", monospace;
}

p, span {
  font-family: "Maven Pro", sans-serif;
}

h2 {
  font-family: 'Asap', 'Inconsolota', 'Maven Pro', sans-serif;
}

h3.mensagetopheader {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: #C0C4CE;
  padding-top: 8%;
}

h1.title {
  font-size: 56px;
  line-height: 67.2px;
  text-align: center;
  font-weight: 700;
  padding: 20px;
}

p.text {
  color: #878EA1;
  font-size: 14px;
  line-height: 19.6px;
  text-align: center;
  font-weight: 400;
}

.grid-flow-col {
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 12%;
}

img.iconsize {
  width: 24px;
  height: 24px;
}

.boxicon {
  background: #292C34;
  padding: 8px 16px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.grid {
  max-width: 680px;
  display: block;
  margin: 0 auto;
  padding: 7% 0;
  text-align: center;
}

main.grid-flow-col.second {
  background: #16181D;
}

section#projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
  max-width: 1040px;
  justify-content: center;
  gap: 24px;

}

main.lineprojects {
  background: #16181D;
  text-align: center;
}

img.iconpointer {
  padding-bottom: 5%;
}

.backgroundbox {
  background: #292C34;
  padding: 1em;
  text-align: left;
  border-radius: 12px;
  img {
    width: 306px;
    height: 156px;
    border-radius: 8px;
  }
}

h3.titleprojects {
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  text-align: center;
  color: #E3646E;
  padding-top:  8%;
}

h1.subtitleprojetcs {
  font-size: 24px;
  line-height: 120%;
  font-weight: 700;
  text-align: center;
  color: #E2E4E9;
  padding-bottom: 56px;
}

h3.titlejobs {
  font-size: 16px;
  line-height: 120%;
  font-weight: 700;
  color: #E2E4E9;
  padding: 8px 8px;
}

p.jobstext {
  font-size: 14px;
  line-height: 140%;
  font-weight: 400;
  color: #C0C4Ce;
  padding: 8px;
}

section#services {
  background-color: #0D0E11;
}

h3.servicestitle {
  font-size: 16px;
  line-height: 120%;
  font-weight: 700;
  color: #E2E4E9;
}

p.servicestext {
  font-size: 14px;
  line-height: 140%;
  font-weight: 400;
  color: #C0C4Ce;
  padding: 8px;
}

.grid-flow-col3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  gap: 24px;
  background: #0D0E11;
  max-width: 888px;
  align-items: center;
}

.servicesbox {
  width: 280px;
  height: 155px;
  border-width: 1px;
  border-style: solid;
  border-color: #878EA1;
  border-radius: 12px;
}